@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@font-face {
    font-family: 'Meltow';
    src: url(assets/font/meltow.ttf);
}
@font-face {
    font-family: 'Devant';
    src: url(assets/font/devant.ttf);
}
@font-face {
    font-family: 'Vancouver';
    src: url(assets/font/vancouver.ttf);
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav {
    background-color: #436980;
    height: 575px;
    width: 100%;
    overflow: hidden;
}

.enlace {
    position: absolute;
    padding: 265.5px 100px;
    background-color: rgb(255, 255, 255);
}

.logo {
    height: 40px;
    position: relative;
    top: -240px;
}

nav ul {
    float: right;
    margin-right: 8%;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: white;
    font-size: 13px;
    padding: 12px 30px;
    border-radius: 3px;
    font-family: 'Roboto Slab';
    text-decoration: none;
}

li a.active, li a:hover {
    background: #012b44;
    /*background: #0f3146;*/
    transition: .5s;
}

nav ul li a.active {
    font-family: 'Meltow';
    padding: 14px 30px;
}

.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}













/*      START       */

.sliderr {
    width: 100%;
    overflow: hidden;
}

.slider {
    width: 100%;
    height: 450px;
}

.slide-track {
    display: flex;
    animation: scroll 40s linear infinite;
    width: calc(1000px * 10);
    -webkit-animation: scroll 40s linear infinite;
    margin: 0px 0px 0px 0px;
    align-items: center;
}

.slider .slide {
    width: 100%;
}

.slide img {
    width: 70%;
    height: 300px;
    object-fit: cover;
}

@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    70% {
        -webkit-transform: translateX(calc(-800px * 3));
        transform: translateX(calc(-800px * 3));
    }
}

.start-text {
    position: relative;
    top: -350px;
    text-align: center;
    font-family: 'Roboto Slab';
    color: white;
    overflow: hidden;
}

.start-text #text1  {
    font-size: 24px;
}

.start-text #text2  {
    font-size: 60px;
    padding: 25px 0px;
    font-family: 'Vancouver';
}

.start-text #text3  {
    font-size: 16px;
}


/*      GO TOP      */

.go-top-container {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    width: 4rem;
    height: 4rem;
    z-index: -1;
}

.go-top-button {
    width: 0rem;
    height: 0rem;
    background: black;
    border-radius: 50%;
    cursor: pointer;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    transition: .2s;
}

.go-top-button i {
    position: absolute;
    font-size: 1.7rem;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    color: white;
    transition: .2s;
}

.show {
    z-index: 10;
}

.show .go-top-button {
    animation: popup .3s ease-in-out;
    width: 6.6rem;
    height: 6.6rem;
    z-index: 11;
}

.show i {
    transform: translate(-50%, -50%) scale(1);
}

@keyframes popup {
    0% {
        width: 0rem;
        height: 0rem;
    }

    50% {
        width: 8rem;
        height: 8rem;
    }
    100% {
        width: 6.6rem;
        height: 6.6rem;
    }
}




/*      IMAGES SECTION      */

.img-section {
    display: flex;
}

.images {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0px 60px;
}

.images img {
    width: 18.5em;
    height: 15em;
    object-fit: cover;
    padding: 1px 7px;
}

.fondo {
    width: 100%;
    height: 0;
    position: relative;
    top: -493px;
}

.fondo img {
    width: 100%;
}

.prueba {
    width: 100%;
    height: 0;
    position: relative;
    z-index: 99;
    margin: 0px 0px 0px 0px;
    display: flex;
    justify-content: center;
    top: 20px;
}

.prueba1 img {
    width: 17em;
    height: 17em;
    object-fit: cover;
}




.img-text {
    width: 100%;
    padding: 70px 100px 0px 50px;
    text-align: center;
}

.img-text h1 {
    padding-bottom: 20px;
    font-weight: 900;
    font-family: 'Vancouver';
}

.img-text h5 {
    padding-bottom: 20px;
    font-weight: 900;
    color: #436980;
}

.img-text a {
    color: white;
    text-decoration: none;
    background-color: #436980;
    border-radius: 5px;
    padding: 10px 10px;
}

.img-text a:hover {
    transition: .5s;
    background-color: #022135;
}







/*      CALL TO ACTION      */

.call {
    width: 100%;
    font-family: 'Roboto Slab';
    padding: 10em 0em 10em 3.5em;
    display: flex;
}

.action {
    width: 50%;
}

.action h1 {
    font-weight: 900;
    font-size: 3em;
}

.action h2 {
    font-size: 7em;
}

.action p {
    width: 70%;
    padding-top: 20px;
    padding-bottom: 40px;
    font-size: 1.5em;
    font-weight: 400;
}

.action a {
    color: white;
    text-decoration: none;
    background-color: #436980;
    border-radius: 5px;
    padding: 10px 10px;
    font-size: 1.5em;
    font-weight: 300;
}

.action a:hover {
    transition: .5s;
    background-color: #032438;
}

.cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    margin-right: 20px;
}

.card {
    padding: 10px 30px;
    box-shadow: 2px 0px 60px 0px rgba(0, 0, 0, 0.199);
    width: 300px;
    height: 200px;
}

.card:hover {
    transition: .5s;
    transform: scale(1.03);
}

.card h1 {
    font-size: 1.5em;
    text-align: center;
    font-family: 'Vancouver';
}

.imagens {
    display: flex;
    justify-content: center;
    padding: 30px 0px 10px 0px;
}

.card img {
    width: 5em;
    height: 5em;
}

.cards a {
    text-decoration: none;
    color: #1a425a;
}






/*      WORK        */
/* VIDEO DE FONDO */
.work {
    width: 100%;
}

.work-img {
    background-color: black;
}

.work-img video{
    width: 100%;
    height: 500px;
    object-fit: cover;
    opacity: 40%;
}

/* TEXTO POR ENCIMA DEL VIDEO*/

.work-text {
    font-family: 'Roboto Slab';
    text-align: center;
    position: relative;
    top: -400px;
}

.work-text h5 {
    padding-bottom: 20px;
    font-weight: 900;
    color: #e49502;
}

.work-text h1 {
    font-weight: 900;
    color: white;
    font-family: 'Vancouver';
}

/*      CARDS DEL WORK      */

.work-cards {
    width: 100%;
    display: flex;
    font-family: 'Roboto Slab';
    text-align: center;
    justify-content: space-between;
    height: 130px;
}

.work-card1 {
    width: 300px;
    height: 310px;
    margin: 0px 70px;
    box-shadow: 2px 0px 30px 0px rgba(0, 0, 0, 0.199);
    position: relative;
    top: -324px;
    background-color: white;
}

.work-card1:hover {
    transition: .5s;
    transform: scale(1.1);
}

.work-card1 img {
    width: 300px;
    height: 200px;
    object-fit: cover;
}

.work-card1 h1 {
    font-size: 18px;
}

.work-card1 p {
    width: 100%;
    font-size: 12px;
    padding: 5px 35px;
}









/*      JOBS        */

.jobs {
    width: 100%;
    padding-bottom: 50px;
    font-family: 'Roboto Slab';
    text-align: center;
}

.jobs-text h4 {
    padding-bottom: 20px;
    font-weight: 900;
    color: #436980;
    font-size: 1.7em;
}

.jobs-text h1 {
    font-family: 'Vancouver';
    font-weight: 900;
    font-size: 3em;
    padding: 0px 0px 50px 0px;
}

.jobs-img {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.jobs-img img {
    width: 18em;
    height: 16em;
    object-fit: cover;
    margin: 7px;
    border-radius: 5px;
}

.jobs-img img:hover {
    transform: scale(1.2);
    transition: .5s;
    box-shadow: 0px 0px 30px 0px black;
}




/*      GALERIA     */

.galeria {
    display: flex;
    width: 95%;
    margin: auto;
    grid-gap: 10px;
    padding: 40px 0;
    overflow: hidden;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.galeria > a {
    width: 300px;
    display: block;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 6px rgb(0, 0, 0, .5);
}

.galeria img {
    width: 300px;
    vertical-align: top;
    height: 230px;
    object-fit: cover;
    transition: transform 0.5s;
}

.galeria a:hover img { 
    transform: rotate(10deg) scale(1.3);
}

.light-box {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .5);
    width: 100%;
    height: 100vh;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
    transition: transform .3s ease-in-out;
    font-family: 'Roboto Slab';
}

.light-box img {
    width: 100vh;
    max-height: auto;
    object-fit: cover;
}

.light-box:target {
    transform: scale(1);
}

.close {
    display: block;
    position: absolute;
    top: 40px;
    right: 40px;
    background: #032438;
    color: white;
    width: 40px;
    height: 40px;
    text-decoration: none;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
}

.next {
    display: block;
    background-color: #032438;
    color: white;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-decoration: none;
    text-align: center;
}



/*      TEXT FINAL      */

.textfinal {
    padding: 50px 100px;
    font-family: 'Vancouver';
}

.textfinal h1 {
    font-weight: 900;
}





/*      FOOTER      */

.footer {
    width: 100%;
    background-color: #436980;
    display: flex;
}

.parte1 {
    width: 60%;
    padding: 50px 100px;
}

.parte1 p {
    font-family: 'Roboto Slab';
    padding: 20px 0px;
    font-weight: 700;
    color: #00111b;
}

.parte1 #logo {
    width: 23em;
    height: auto;
}

.redes {
    display: flex;
    justify-content: space-between;
    width: 37%;
}

.redes1:hover {
    transform: scale(1.1);
    transition: .3s;
}

.redes1 {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.redes1 img {
    width: 30px;
}

.parte2 {
    display: flex;
    font-family: 'Roboto Slab';
    width: 40%;
    padding: 50px 0px;
}

.about, .connect {
    padding-right: 50px;
}

.about hr, .connect hr {
    margin-bottom: 50px ;
}

.about a, .connect a {
    color: white;
    text-decoration: none;
}

.copy {
    background-color: #436980;
    font-family: 'Roboto Slab';
    text-align: center;
    padding: 30px 0px;
    color: white;
    font-size: 13px;
}




/*      PAGINA ABOUT        */

.about-text {
    width: 100%;
    padding: 0px 40px;
    font-family: 'Roboto Slab';
}

.about-parrafo {
    width: 70%;
}

.card h1 {
    font-family: 'Roboto Slab';
}



/*  RESPONSIVE  */

@media (max-width: 870px) {

        /*      NAV     */
        nav {
            background-color: #436980;
            height: 230px;
            width: 100%;
            overflow: hidden;
        }

        .fondo {
            width: 100%;
            height: 0;
            position: relative;
            top: -160px;
        }
        
        .fondo img {
            width: 100%;
            height: 150px;
        }
        
        .start-text {
            position: relative;
            top: -150px;
            text-align: center;
            font-family: 'Roboto Condensed';
            color: white;
            overflow: hidden;
        }
    
    .jobs {
        width: 100%;
        padding-top: 20em;
        padding-bottom: 50px;
        font-family: 'Roboto Slab';
        text-align: center;
    }


    .enlace{
        padding: 130px 10px;
    }

    .logo {
        height: 40px;
        position: relative;
        top: -110px;
    }

    nav ul li a {
        font-size: 16px;
    }

    .checkbtn {
        display: block;
    }

    ul {
        position: absolute;
        width: 100%;
        height: 60vh;
        background: #032c46;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        z-index: 99;
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a {
        font-size: 20px;
    }

    li a:hover, li a.active {
        background: none;
        color: white;
    }

    #check:checked ~ ul {
        left: 0;
    }

        /*  START CARRUSEL   */

        .slider {
            width: 100%;
            height: auto;
        }
        
        .slide-track {
            display: flex;
            animation: scroll 40s linear infinite;
            width: calc(800px * 10);
            -webkit-animation: scroll 40s linear infinite;
        }
        
        .slider .slide {
            width: 100%;
        }
        
        .slide img {
            width: 80%;
            height: 200px;
            object-fit: cover;
        }
        
        @keyframes scroll {
            0% {
                -webkit-transform: translateX(0);
                transform: translateX(0);
            }
            70% {
                -webkit-transform: translateX(calc(-800px * 2));
                transform: translateX(calc(-800px * 2));
            }
        }
    
        
        .start-text #text1  {
            font-size: 15px;
        }
        
        .start-text #text2  {
            font-size: 30px;
            padding: 25px 0px;
        }
        
        .start-text #text3  {
            font-size: 12px;
        }

    /*  IMAGE SECTION   */

    .img-section {
        display: block;
    }
    
    .images {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        padding: 0px 15px;
        margin: 0px 0px;
    }
    
    .images img {
        width: 9em;
        height: 7em;
        object-fit: cover;
        padding: 0px 0px;
        margin: 10px 10px;
    }
    
    .prueba {
        width: 100%;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 35%;
        top: 200px;
    }
    
    .prueba1 img {
        width: 8em;
        height: 8em;
        object-fit: cover;
    }
}


@media (max-width: 1120px) {
        /*      GO TOP      */

        .go-top-container {
            position: absolute;
            bottom: 0rem;
            right: 0rem;
            width: 0rem;
            height: 0rem;
            z-index: 0;
        }
    
        .go-top-button {
            width: 0rem;
            height: 0rem;
            background: black;
            border-radius: 0;
            cursor: pointer;
            top: 0;
            left: 0;
            transform: translate(0, 0);
            z-index: -1;
            transition: .2s;
        }
    
        .go-top-button i {
            position: absolute;
            font-size: 0rem;
            top: 0;
            left: 0;
            transform: translate(0, 0) scale(0);
            color: white;
            transition: .2s;
        }
    
        .show {
            z-index: 0;
        }
    
        .show .go-top-button {
            animation: popup .3s ease-in-out;
            width: 0rem;
            height: 0rem;
            z-index: 11;
        }
    
        .show i {
            transform: translate(0, 0) scale(0);
        }
    
        @keyframes popup {
            0% {
                width: 0rem;
                height: 0rem;
            }
    
            50% {
                width: 0rem;
                height: 0rem;
            }
            100% {
                width: 0rem;
                height: 0rem;
            }
        }

        /*      CARDS DEL WORK      */

    .work-cards {
        width: 100%;
        display: flex;
        font-family: 'Roboto Slab';
        text-align: center;
        justify-content: space-between;
        height: 130px;
        flex-direction: none;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .work-card1 {
        width: 250px;
        height: 320px;
        margin: 10px 20px;
        box-shadow: 2px 0px 20px 0px rgba(0, 0, 0, 0.199);
        position: relative;
        top: -284px;
    }

    .work-card1:hover {
        transition: .5s;
        transform: scale(1);
    }

    .work-card1 img {
        width: 250px;
        height: 150px;
        object-fit: cover;
    }

    .work-card1 h1 {
        font-size: 16px;
    }

    .work-card1 p {
        width: 100%;
        font-size: 12px;
        padding: 10px 15px 20px 15px;
    }
}


@media (max-width: 1393px) {

        /*  IMAGE SECTION   */

    .img-section {
        display: block;
    }
    
    .images {
        display: flex;
        justify-content: none;
        flex-wrap: wrap;
        width: 100%;
        padding: 0px 15px;
        margin: 0px 0px;
    }
    
    .images img {
        width: 15em;
        height: 13em;
        object-fit: cover;
        padding: 0px 0px;
        margin: 10px 10px;
    }

    
    .prueba1 img {
        width: 15em;
        height: 15em;
        object-fit: cover;
    }
    
    
    
    
    .img-text {
        width: 100%;
        font-family: 'Roboto Slab';
        padding: 70px 30px 0px 30px;
        text-align: center;
    }
    
    .img-text h1 {
        padding-bottom: 20px;
        font-weight: 900;
    }
    
    .img-text h5 {
        padding-bottom: 20px;
        font-weight: 900;
        color: #436980;
    }
    
    .img-text a {
        color: white;
        text-decoration: none;
        background-color: #436980;
        border-radius: 5px;
        padding: 10px 10px;
    }
    
    .img-text a:hover {
        transition: .5s;
        background-color: #022135;
    }



    .cards {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 0px 150px 0px 150px;
        margin: 70px 20px;
        flex-direction: none;
        flex-wrap: wrap;
    }

    .card {
        padding: 0px 0px 0px 0px;
        box-shadow: 2px 0px 20px 0px rgba(0, 0, 0, 0.199);
        width: 250px;
        height: 180px;
        margin: 0px 0px;
    }
}

@media (max-width: 690px){



    .enlace{
        padding: 130px 10px;
    }

    .logo {
        height: 40px;
        position: relative;
        top: -110px;
    }

    nav ul li a {
        font-size: 16px;
    }

    .checkbtn {
        display: block;
    }

    ul {
        position: absolute;
        width: 100%;
        height: 60vh;
        background: #032c46;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        z-index: 99;
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a {
        font-size: 20px;
    }

    li a:hover, li a.active {
        background: none;
        color: white;
    }

    #check:checked ~ ul {
        left: 0;
    }




    /*  START CARRUSEL   */

    .slider {
        width: 100%;
        height: auto;
    }
    
    .slide-track {
        display: flex;
        animation: scroll 40s linear infinite;
        width: calc(800px * 10);
        -webkit-animation: scroll 40s linear infinite;
    }
    
    .slider .slide {
        width: 100%;
    }

    
    @keyframes scroll {
        0% {
            -webkit-transform: translateX(0);
            transform: translateX(0);
        }
        70% {
            -webkit-transform: translateX(calc(-800px * 2));
            transform: translateX(calc(-800px * 2));
        }
    }
    

    
    .start-text #text1  {
        font-size: 15px;
    }
    
    .start-text #text2  {
        font-size: 30px;
        padding: 25px 0px;
    }
    
    .start-text #text3  {
        font-size: 12px;
    }




    /*  IMAGE SECTION   */

    .img-section {
        display: block;
    }
    
    .images {
        display: flex;
        justify-content: none;
        flex-wrap: wrap;
        width: 100%;
        padding: 0px 15px;
        margin: 0px 0px;
    }
    
    .images img {
        width: 9em;
        height: 7em;
        object-fit: cover;
        padding: 0px 0px;
        margin: 10px 10px;
    }
    
    .prueba {
        width: 100%;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 35%;
        top: 330px;
    }
    
    .prueba1 img {
        width: 13em;
        height: 13em;
        object-fit: cover;
    }
    
    
    
    
    .img-text {
        width: 100%;
        font-family: 'Roboto Slab';
        padding: 70px 30px 0px 30px;
        text-align: center;
    }
    
    .img-text h1 {
        padding-bottom: 20px;
        font-weight: 900;
    }
    
    .img-text h5 {
        padding-bottom: 20px;
        font-weight: 900;
        color: #436980;
    }
    
    .img-text a {
        color: white;
        text-decoration: none;
        background-color: #436980;
        border-radius: 5px;
        padding: 10px 10px;
    }
    
    .img-text a:hover {
        transition: .5s;
        background-color: #022135;
    }




    /*      CALL TO ACTION      */

    .call {
        width: 100%;
        font-family: 'Roboto Slab';
        padding: 70px 50px 0px 50px;
        display: block;
    }

    .action {
        width: 100%;
        text-align: center;
    }

    .action h1 {
        font-weight: 900;
        font-size: 2em;
    }

    .action h2 {
        font-size: 2em;
    }

    .action p {
        width: 100%;
        padding-top: 20px;
        padding-bottom: 40px;
        font-size: 17px;
        font-weight: 400;
    }

    .action a {
        color: white;
        text-decoration: none;
        background-color: #436980;
        border-radius: 5px;
        padding: 10px 10px;
        font-size: 1.5em;
        font-weight: 300;
    }

    .action a:hover {
        transition: .5s;
        background-color: #032438;
    }

    .cards {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 0px 0px 0px 0px;
        margin: 70px 0px;

    }

    .card {
        padding: 0px 0px;
        box-shadow: 2px 0px 20px 0px rgba(0, 0, 0, 0.199);
        width: 250px;
        height: 150px;
        margin: 20px 0px;
    }

    .card:hover {
        transition: .5s;
        transform: scale(1.0);
    }

    .card h1 {
        font-size: 1em;
        text-align: center;
    }

    .imagens {
        display: flex;
        justify-content: center;
        padding: 30px 0px 10px 0px;
    }

    .card img {
        width: 4em;
        height: 4em;
    }

    .cards a {
        text-decoration: none;
        color: #1a425a;
    }





    /*      WORK        */
    /* VIDEO DE FONDO */
    .work {
        width: 100%;
    }

    .work-img {
        background-color: black;
    }

    .work-img video{
        width: 100%;
        height: 250px;
        object-fit: cover;
        opacity: 40%;
    }

    /* TEXTO POR ENCIMA DEL VIDEO*/

    .work-text {
        font-family: 'Roboto Slab';
        text-align: center;
        position: relative;
        top: -200px;
        padding: 0px 20px;
    }

    .work-text h5 {
        padding-bottom: 20px;
        font-weight: 900;
        color: #e49502;
    }

    .work-text h1 {
        font-weight: 900;
        color: white;
        font-size: 25px;
    }

    /*      CARDS DEL WORK      */

    .work-cards {
        width: 100%;
        display: flex;
        font-family: 'Roboto Slab';
        text-align: center;
        justify-content: center;
        height: 130px;
        align-items: center;
        flex-wrap: wrap;
    }

    .work-card1 {
        width: 250px;
        height: 320px;
        margin: 10px 10px;
        box-shadow: 2px 0px 20px 0px rgba(0, 0, 0, 0.199);
        position: relative;
        top: -100px;
    }

    .work-card1:hover {
        transition: .5s;
        transform: scale(1);
    }

    .work-card1 img {
        width: 250px;
        height: 150px;
        object-fit: cover;
    }

    .work-card1 h1 {
        font-size: 16px;
    }

    .work-card1 p {
        width: 100%;
        font-size: 12px;
        padding: 10px 15px 20px 15px;
    }






    
    /*      JOBS        */

    .jobs {
        width: 100%;
        padding-top: 50em;
        padding-bottom: 50px;
        font-family: 'Roboto Slab';
        text-align: center;
    }

    .jobs-text h4 {
        padding-bottom: 20px;
        font-weight: 900;
        color: #436980;
        font-size: 1.7em;
    }

    .jobs-text h1 {
        font-weight: 900;
        font-size: 3em;
        padding: 0px 0px 50px 0px;
    }

    .jobs-img {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .jobs-img img {
        width: 18em;
        height: 16em;
        object-fit: cover;
        margin: 7px;
        border-radius: 5px;
    }

    .jobs-img img:hover {
        transform: scale(1.2);
        transition: .5s;
        box-shadow: 0px 0px 30px 0px black;
    }    






    /*      GO TOP      */

    .go-top-container {
        position: absolute;
        bottom: 0rem;
        right: 0rem;
        width: 0rem;
        height: 0rem;
        z-index: 0;
    }

    .go-top-button {
        width: 0rem;
        height: 0rem;
        background: black;
        border-radius: 0;
        cursor: pointer;
        top: 0;
        left: 0;
        transform: translate(0, 0);
        z-index: -1;
        transition: .2s;
    }

    .go-top-button i {
        position: absolute;
        font-size: 0rem;
        top: 0;
        left: 0;
        transform: translate(0, 0) scale(0);
        color: white;
        transition: .2s;
    }

    .show {
        z-index: 0;
    }

    .show .go-top-button {
        animation: popup .3s ease-in-out;
        width: 0rem;
        height: 0rem;
        z-index: 11;
    }

    .show i {
        transform: translate(0, 0) scale(0);
    }

    @keyframes popup {
        0% {
            width: 0rem;
            height: 0rem;
        }

        50% {
            width: 0rem;
            height: 0rem;
        }
        100% {
            width: 0rem;
            height: 0rem;
        }
    }





    /*      GALERIA     */

    .galeria {
        display: flex;
        width: 95%;
        margin: auto;
        grid-gap: 10px;
        padding: 40px 0;
        overflow: hidden;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .galeria > a {
        width: 100px;
        display: block;
        position: relative;
        overflow: hidden;
        box-shadow: 0 0 6px rgb(0, 0, 0, .5);
    }

    .galeria img {
        width: 100px;
        vertical-align: top;
        height: 100px;
        object-fit: cover;
        transition: transform 0.5s;
    }

    .galeria a:hover img { 
        transform: rotate(10deg) scale(1.3);
    }

    .light-box {
        position: fixed;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, .5);
        width: 100%;
        height: 100%;
        z-index: 1000;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: scale(0);
        transition: transform .3s ease-in-out;
        font-family: 'Roboto Slab';
    }

    .light-box img {
        width: 70%;
        max-height: auto;
        object-fit: cover;
    }

    .light-box:target {
        transform: scale(1);
    }

    .close {
        display: block;
        position: absolute;
        top: 200px;
        right: 40px;
        background: #032438;
        color: white;
        width: 40px;
        height: 40px;
        text-decoration: none;
        text-align: center;
        line-height: 40px;
        border-radius: 50%;
    }

    .next {
        display: block;
        background-color: #032438;
        color: white;
        width: 30px;
        height: 30px;
        line-height: 30px;
        text-decoration: none;
        text-align: center;
    }




    /*      TEXT FINAL      */

    .textfinal {
        padding: 2px 30px 30px 30px;
        font-family: 'Roboto Slab';
    }

    .textfinal h1 {
        font-weight: 900;
    }


    /*      FOOTER      */

    .footer {
        width: 100%;
        background-color: #436980;
        display: block;
    }

    .parte1 {
        width: 100%;
        padding: 50px 30px;
    }

    .parte1 p {
        font-family: 'Roboto Slab';
        padding: 20px 0px;
        font-weight: 700;
        color: #00111b;
    }

    .parte1 #logo {
        width: 20em;
        height: auto;
    }

    .redes {
        display: flex;
        justify-content: space-between;
        width: 55%;
    }

    .redes1:hover {
        transform: scale(1);
        transition: .3s;
    }

    .redes1 {
        background-color: #ffffff;
        padding: 10px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .redes1 img {
        width: 30px;
    }

    .parte2 {
        display: flex;
        font-family: 'Roboto Slab';
        width: 100%;
        padding: 40px 30px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .about, .connect {
        padding-right: 50px;
    }

    .connect {
        padding-top: 30px;
    }

    .about hr, .connect hr {
        margin-bottom: 50px ;
    }

    .about a, .connect a {
        color: white;
        text-decoration: none;
    }

    .copy {
        background-color: #436980;
        font-family: 'Roboto Slab';
        text-align: center;
        padding: 20px 0px;
        color: white;
        font-size: 13px;
    }
}

