@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@font-face {
    font-family: 'Meltow';
    src: url(assets/font/meltow.ttf);
}
@font-face {
    font-family: 'Vancouver';
    src: url(assets/font/vancouver.ttf);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-image: url(assets/img/background.webp);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: 100px;
}

nav {
    background-color: #436980;
    height: 575px;
    width: 100%;
    overflow: hidden;
}

.enlace {
    position: absolute;
    padding: 265.5px 100px;
    background-color: rgb(255, 255, 255);
}

.logo {
    height: 40px;
    position: relative;
    top: -240px;
}
img{
    object-fit: cover;
}
nav ul {
    float: right;
    margin-right: 8%;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: white;
    font-size: 13px;
    padding: 12px 30px;
    border-radius: 3px;
    font-family: 'Roboto Slab';
    text-decoration: none;
}

li a.active, li a:hover {
    background: #032438;
    /*background: #0f3146;*/
    transition: .5s;
}

nav ul li a.active {
    font-family: 'Meltow';
    padding: 14px 30px;
}

.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

.fondo {
    width: 100%;
    height: 0;
    position: relative;
    top: -493px;
}

.fondo img {
    width: 100%;
    height: 58vh;
    object-fit: cover;
}











/*      START       */
.slider-box{
    width: 100%;
    height: 80vh;
    background-image: url(assets/img/fondo3.webp);
    background-size:cover ;
    background-position: center;
    background-repeat: no-repeat;
    transition: 2.5s;

    animation-name: animate;
    animation-direction:alternate;
    animation-play-state: running;
    animation-timing-function: ease-in;
    animation-duration: 15s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite ;
}

.slider {
    width: 100%;
    height: auto;
}

.slide-track {
    display: flex;
    animation: scroll 40s linear infinite;
    width: calc(1000px * 10);
    -webkit-animation: scroll 40s linear infinite;
}

.slider .slide {
    width: 100%;
}

.slide img {
    width: 100%;
    height: 450px;
    object-fit: cover;
}

@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    70% {
        -webkit-transform: translateX(calc(-800px * 2));
        transform: translateX(calc(-800px * 2));
    }
}

.start-text {
    position: relative;
    top: -350px;
    text-align: center;
    font-family: 'Roboto Condensed';
    color: white;
    overflow: hidden;
}

.start-text #text1  {
    font-size: 24px;
}

.start-text #text2  {
    font-size: 60px;
    padding: 25px 0px;
    font-family: 'Vancouver';
}

.start-text #text3  {
    font-size: 16px;
}


/*      GO TOP      */

.go-top-container {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    width: 4rem;
    height: 4rem;
    z-index: -1;
}

.go-top-button {
    width: 0rem;
    height: 0rem;
    background: black;
    border-radius: 50%;
    cursor: pointer;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    transition: .2s;
}

.go-top-button i {
    position: absolute;
    font-size: 1.7rem;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    color: white;
    transition: .2s;
}

.show {
    z-index: 10;
}

.show .go-top-button {
    animation: popup .3s ease-in-out;
    width: 6.6rem;
    height: 6.6rem;
    z-index: 11;
}

.show i {
    transform: translate(-50%, -50%) scale(1);
}

@keyframes popup {
    0% {
        width: 0rem;
        height: 0rem;
    }

    50% {
        width: 8rem;
        height: 8rem;
    }
    100% {
        width: 6.6rem;
        height: 6.6rem;
    }
}

.fondo {
    width: 100%;
    height: 0;
    position: relative;
    top: -493px;
}

.fondo img {
    width: 100%;
}





/*      TEXT FINAL      */

.textfinal {
    padding: 50px 100px;
    font-family: 'Vancouver';
}

.textfinal h1 {
    font-weight: 900;
}





/*      FOOTER      */

.footer {
    width: 100%;
    background-color: #436980;
    display: flex;
}

.parte1 {
    width: 60%;
    padding: 50px 100px;
}

.parte1 p {
    font-family: 'Roboto Slab';
    padding: 20px 0px;
    font-weight: 700;
    color: #00111b;
}

.parte1 #logo {
    width: 23em;
    height: auto;
}

.redes {
    display: flex;
    justify-content: space-between;
    width: 37%;
}

.redes1:hover {
    transform: scale(1.1);
    transition: .3s;
}

.redes1 {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.redes1 img {
    width: 30px;
}

.parte2 {
    display: flex;
    font-family: 'Roboto Slab';
    width: 40%;
    padding: 50px 0px;
}

.about, .connect {
    padding-right: 50px;
}

.about hr, .connect hr {
    margin-bottom: 50px ;
}

.about a, .connect a {
    color: white;
    text-decoration: none;
}

.copy {
    background-color: #436980;
    font-family: 'Roboto Slab';
    text-align: center;
    padding: 30px 0px;
    color: white;
    font-size: 13px;
}











/*      PAGINA SERVICES        */

.contact-cards {
    width: 100%;
    font-family: 'Roboto Slab';
    display: flex;
    margin: 70px 0px;
    justify-content: center;
}

.card {
    width: 400px;
    height: 250px;
    margin: 0px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(245, 245, 245);
}

.card:hover {
    transition: .3s;
    transform: scale(1.03);
}

.card h1 {
    font-size: 20px;
    font-family: 'Vancouver';
}

.card img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-bottom: 20px;
} 

.card p {
    font-size: 12px;
    padding: 20px;
    text-align: center;
}




/*      FORMULARIO      */

.contact-message {
    width: 100%;
    display: flex;
    font-family: 'Roboto Slab';
}

.form {
    display: flex;
    flex-direction: column;
    background-color: #032438;
    color: white;
    padding: 60px;
    margin-left: 50px;
}

.form h1 {
    font-size: 40px;
    font-family: 'Vancouver';
}

.form p {
    margin: 20px 0px;
}

.division {
    padding: 0px 0px;
    margin: 5px 0px;
    width: 100%;
}

.division input {
    width: 100%;
    padding: 10px 10px;
}

textarea {
    font-family: 'Roboto Slab';
    padding: 10px 10px;
}

.division1 {
    width: 100%;
}

.button {
    width: 100%;
    padding: 10px 0px;
    background-color: #e49502;
    color: white;
    border: 0;
    border-radius: 2px;
    font-family: 'Roboto Slab';
} 

.button:hover {
    background-color: #5e3d00;
    cursor: pointer;
}

.map {
    width: 100%;
    padding-right: 50px;
}

iframe {
    width: 100%;
    height: 100%;
}

@media (max-width:1393px) {
    .services-cards {
        width: 100%;
        margin-bottom: 50px;
        display: flex;
        flex-direction: none;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        }
    
        .card {
        width: 260px;
        height: 300px;
        box-shadow: 2px 0px 20px 0px rgba(0, 0, 0, 0.199);
        margin: 20px 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        }
}

@media (max-width:690px){
    /*      NAV     */
    nav {
        background-color: #436980;
        height: 200px;
        width: 100%;
        overflow: hidden;
    }

    .fondo {
        width: 100%;
        height: 0;
        position: relative;
        top: -130px;
    }
    
    .fondo img {
        width: 100%;
        height: 150px;
    }

    .start-text {
        position: relative;
        top: -160px;
        text-align: center;
        color: white;
        overflow: hidden;
    }

    .enlace{
        padding: 80px 10px;
    }

    .logo {
        height: 40px;
        position: relative;
        top: -60px;
    }

    nav ul li a {
        font-size: 16px;
    }

    .checkbtn {
        display: block;
    }

    ul {
        position: absolute;
        width: 100%;
        height: 80vh;
        background: #032c46;
        top: 70px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        z-index: 100;
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a {
        font-size: 20px;
    }

    li a:hover, li a.active {
        background: none;
        color: white;
    }

    #check:checked ~ ul {
        left: 0;
    }




    /*  START CARRUSEL   */
    .slider-box{
        width: 100%;
        height: 35vh;
        background-image: url(assets/img/fondo3.webp);
        background-size:cover ;
        background-position: center;
        background-repeat: no-repeat;
        transition: 2.5s;
    
        animation-name: animate;
        animation-direction:alternate;
        animation-play-state: running;
        animation-timing-function: ease-in;
        animation-duration: 15s;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite ;
    }


    .slider {
        width: 100%;
        height: auto;
    }
    
    .slide-track {
        display: flex;
        animation: scroll 40s linear infinite;
        width: calc(800px * 10);
        -webkit-animation: scroll 40s linear infinite;
    }
    
    .slider .slide {
        width: 100%;
    }
    
    .slide img {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }
    
    @keyframes scroll {
        0% {
            -webkit-transform: translateX(0);
            transform: translateX(0);
        }
        70% {
            -webkit-transform: translateX(calc(-800px * 5));
            transform: translateX(calc(-800px * 5));
        }
    }
    

    
    .start-text #text1  {
        font-size: 15px;
    }
    
    .start-text #text2  {
        font-size: 50px;
        padding: 70px 0px 0px 0px;
    }
    
    .start-text #text3  {
        font-size: 12px;
    }



    /*      GO TOP      */

    .go-top-container {
        position: absolute;
        bottom: 0rem;
        right: 0rem;
        width: 0rem;
        height: 0rem;
        z-index: 0;
    }

    .go-top-button {
        width: 0rem;
        height: 0rem;
        background: black;
        border-radius: 0;
        cursor: pointer;
        top: 0;
        left: 0;
        transform: translate(0, 0);
        z-index: -1;
        transition: .2s;
    }

    .go-top-button i {
        position: absolute;
        font-size: 0rem;
        top: 0;
        left: 0;
        transform: translate(0, 0) scale(0);
        color: white;
        transition: .2s;
    }

    .show {
        z-index: 0;
    }

    .show .go-top-button {
        animation: popup .3s ease-in-out;
        width: 0rem;
        height: 0rem;
        z-index: 11;
    }

    .show i {
        transform: translate(0, 0) scale(0);
    }

    @keyframes popup {
        0% {
            width: 0rem;
            height: 0rem;
        }

        50% {
            width: 0rem;
            height: 0rem;
        }
        100% {
            width: 0rem;
            height: 0rem;
        }
    }



    /*      TEXT FINAL      */

    .textfinal {
        padding: 2px 30px 30px 30px;
    }

    .textfinal h1 {
        font-weight: 900;
    }



    /*      FOOTER      */

    .footer {
        width: 100%;
        background-color: #436980;
        display: block;
    }

    .parte1 {
        width: 100%;
        padding: 50px 30px;
    }

    .parte1 p {
        padding: 20px 0px;
        font-weight: 700;
        color: #00111b;
    }

    .parte1 #logo {
        width: 20em;
        height: auto;
    }

    .redes {
        display: flex;
        justify-content: space-between;
        width: 55%;
    }

    .redes1:hover {
        transform: scale(1);
        transition: .3s;
    }

    .redes1 {
        background-color: #ffffff;
        padding: 10px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .redes1 img {
        width: 30px;
    }

    .parte2 {
        display: flex;
        width: 100%;
        padding: 40px 30px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .about, .connect {
        padding-right: 50px;
    }

    .connect {
        padding-top: 30px;
    }

    .about hr, .connect hr {
        margin-bottom: 50px ;
    }

    .about a, .connect a {
        color: white;
        text-decoration: none;
    }

    .copy {
        background-color: #436980;
        text-align: center;
        padding: 20px 0px;
        color: white;
        font-size: 13px;
    }


    /*      PAGINA SERVICES        */

    .services-cards {
    width: 100%;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }

    .services-text {
    text-align: center;
    padding-bottom: 60px;
    }

    .services-text h1 {
    font-size: 55px;
    }

    .services-text p {
    font-size: 18px;
    padding-top: 20px;
    }

    .card {
    width: 260px;
    height: 420px;
    box-shadow: 2px 0px 20px 0px rgba(0, 0, 0, 0.199);
    margin: 20px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }

    .card:hover {
    transition: .3s;
    transform: scale(1.03);
    }

    .card img{
    width: 260px;
    height: 300px;
    object-fit: cover;
    } 

    .card h1 {
    font-size: 14px;
    padding-top: 20px;
    }

    .card p {
    font-size: 12px;
    padding: 20px;
    text-align: justify;
    }



    /*      ADDITIONAL SERVICES     */

    .additional {
    width: 100%;
    display: block;
    }

    .additional-services {
    width: 100%;
    padding: 10px 50px 80px 50px;
    background-color: black;
    color: white;
    }

    .additional-services h1 {
    padding: 10px 0px;
    font-size: 50px;
    }

    .additional-services p {
    margin: 20px 0px 50px;
    }

    .additional-services a {
    color: white;
    background-color: #032438;
    text-decoration: none;
    padding: 20px;
    border-radius: 10px;
    }

    .additional-services a:hover {
    transition: .3s;
    background-color: #00111b;
    }

    .additional-img {
    width: 100%;
    background-color: #e49502;
    }




    /*      PAGINA SERVICES        */

    .contact-cards {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 0px 0px;
        justify-content: center;
        align-items: center;
    }

    .card {
        width: 300px;
        height: 250px;
        margin: 20px 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgb(245, 245, 245);
    }

    .card:hover {
        transition: .0s;
        transform: scale(1);
    }

    .card h1 {
        font-size: 20px;
    }

    .card img{
        width: 50px;
        height: 50px;
        object-fit: cover;
        margin-bottom: 20px;
    } 

    .card p {
        font-size: 12px;
        padding: 20px;
        text-align: center;
    }




    /*      FORMULARIO      */

    .contact-message {
        width: 100%;
        display: block;
    }

    .form {
        display: flex;
        flex-direction: column;
        background-color: #032438;
        color: white;
        padding: 60px;
        margin-left: 0px;
    }

    .form h1 {
        font-size: 40px;
    }

    .form p {
        margin: 20px 0px;
    }

    .division {
        padding: 0px 0px;
        margin: 5px 0px;
        width: 100%;
    }

    .division input {
        width: 100%;
        padding: 10px 10px;
    }

    textarea {
        padding: 10px 0px 10px 10px;
        margin: 0px 0px 0px 0px;
    }

    .division1 {
        width: 100%;
    }

    .button {
        width: 100%;
        padding: 10px 0px;
        background-color: #e49502;
        color: white;
        border: 0;
        border-radius: 2px;
    } 

    .button:hover {
        background-color: #5e3d00;
        cursor: pointer;
    }

    .map {
        width: 100%;
        padding-right: 0px;
    }

    iframe {
        width: 100%;
        height: 300px;
        padding: 30px 30px;
    }

}