@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@font-face {
    font-family: 'Meltow';
    src: url(assets/font/meltow.ttf);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav {
    background-color: #e49502;
    height: 575px;
    width: 100%;
    overflow: hidden;
}

.enlace {
    position: absolute;
    padding: 265.5px 100px;
    background-color: rgb(255, 255, 255);
}

.logo {
    height: 40px;
    position: relative;
    top: -240px;
}

nav ul {
    float: right;
    margin-right: 8%;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: white;
    font-size: 13px;
    padding: 12px 30px;
    border-radius: 3px;
    font-family: 'Roboto Slab';
    text-decoration: none;
}

li a.active, li a:hover {
    background: #436980;
    /*background: #0f3146;*/
    transition: .5s;
}

nav ul li a.active {
    font-family: 'Meltow';
    padding: 14px 30px;
}

.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}













/*      START       */
.slider {
    width: 100%;
    height: auto;
}

.slide-track {
    display: flex;
    animation: scroll 40s linear infinite;
    width: calc(1000px * 10);
    -webkit-animation: scroll 40s linear infinite;
}

.slider .slide {
    width: 100%;
}

.slide img {
    width: 100%;
    height: 450px;
    object-fit: cover;
}

@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    70% {
        -webkit-transform: translateX(calc(-800px * 5));
        transform: translateX(calc(-800px * 5));
    }
}

.start-text {
    position: relative;
    top: -350px;
    text-align: center;
    font-family: 'Roboto Condensed';
    color: white;
    overflow: hidden;
}

.start-text #text1  {
    font-size: 24px;
}

.start-text #text2  {
    font-size: 60px;
    padding: 25px 0px;
}

.start-text #text3  {
    font-size: 16px;
}


/*      GO TOP      */

.go-top-container {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    width: 4rem;
    height: 4rem;
    z-index: -1;
}

.go-top-button {
    width: 0rem;
    height: 0rem;
    background: black;
    border-radius: 50%;
    cursor: pointer;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    transition: .2s;
}

.go-top-button i {
    position: absolute;
    font-size: 1.7rem;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    color: white;
    transition: .2s;
}

.show {
    z-index: 10;
}

.show .go-top-button {
    animation: popup .3s ease-in-out;
    width: 6.6rem;
    height: 6.6rem;
    z-index: 11;
}

.show i {
    transform: translate(-50%, -50%) scale(1);
}

@keyframes popup {
    0% {
        width: 0rem;
        height: 0rem;
    }

    50% {
        width: 8rem;
        height: 8rem;
    }
    100% {
        width: 6.6rem;
        height: 6.6rem;
    }
}







/*      TEXT FINAL      */

.textfinal {
    padding: 50px 100px;
    font-family: 'Roboto Slab';
}

.textfinal h1 {
    font-weight: 900;
}





/*      FOOTER      */

.footer {
    width: 100%;
    background-color: #436980;
    display: flex;
}

.parte1 {
    width: 60%;
    padding: 50px 100px;
}

.parte1 p {
    font-family: 'Roboto Slab';
    padding: 20px 0px;
    font-weight: 700;
    color: #00111b;
}

.parte1 #logo {
    width: 23em;
    height: auto;
}

.redes {
    display: flex;
    justify-content: space-between;
    width: 37%;
}

.redes1:hover {
    transform: scale(1.1);
    transition: .3s;
}

.redes1 {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.redes1 img {
    width: 30px;
}

.parte2 {
    display: flex;
    font-family: 'Roboto Slab';
    width: 40%;
    padding: 50px 0px;
}

.about, .connect {
    padding-right: 50px;
}

.about hr, .connect hr {
    margin-bottom: 50px ;
}

.about a, .connect a {
    color: white;
    text-decoration: none;
}

.copy {
    background-color: #436980;
    font-family: 'Roboto Slab';
    text-align: center;
    padding: 30px 0px;
    color: white;
    font-size: 13px;
}











/*      PAGINA SERVICES        */

.contact-cards {
    width: 100%;
    font-family: 'Roboto Slab';
    display: flex;
    margin: 70px 0px;
    justify-content: center;
}

.card {
    width: 400px;
    height: 250px;
    margin: 0px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(245, 245, 245);
}

.card:hover {
    transition: .3s;
    transform: scale(1.03);
}

.card h1 {
    font-size: 20px;
}

.card img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-bottom: 20px;
} 

.card p {
    font-size: 12px;
    padding: 20px;
    text-align: center;
}




/*      FORMULARIO      */

.contact-message {
    width: 100%;
    display: flex;
    font-family: 'Roboto Slab';
}

.form {
    display: flex;
    flex-direction: column;
    background-color: #032438;
    color: white;
    padding: 60px;
    margin-left: 50px;
}

.form h1 {
    font-size: 40px;
}

.form p {
    margin: 20px 0px;
}

.division {
    padding: 0px 0px;
    margin: 5px 0px;
    width: 100%;
}

.division input {
    width: 100%;
    padding: 10px 10px;
}

textarea {
    font-family: 'Roboto Slab';
    padding: 10px 10px;
}

.division1 {
    width: 100%;
}

.button {
    width: 100%;
    padding: 10px 0px;
    background-color: #e49502;
    color: white;
    border: 0;
    border-radius: 2px;
    font-family: 'Roboto Slab';
} 

.button:hover {
    background-color: #5e3d00;
    cursor: pointer;
}

.map {
    width: 100%;
    padding-right: 50px;
}

iframe {
    width: 100%;
    height: 100%;
}